@use '../abstracts/variables';

.section-search {
  width: 100%;
  margin-bottom: 2.5rem;
}

// Barre de recherche
.search {
  &__input {
    width: 100%;
    height: 7rem;
    padding: 2rem;
    border-radius: variables.$default-radius;
    border: none;
    background-color: variables.$color-white-secondary;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

// Filtres
.filters {
  // Filtre sélectionné
  &-selected {
    display: flex;
    margin-bottom: 1.5rem;

    &__box {
      padding: 1rem 2.2rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: variables.$color-white;

      border-radius: variables.$default-radius;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--ingredients {
        background-color: variables.$color-ingredients;
      }
    }

    &__text {
      margin-right: 1.3rem;
    }
  }

  &-list {
    display: flex;

    &__box {
      width: 17rem;
      height: 7rem;
      position: relative;
      border-radius: variables.$default-radius;
      margin-right: 2rem;
      transition: all 0.2s;

      input {
        padding: 2.3rem 1.5rem;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 1.8rem;

        &::placeholder {
          color: variables.$color-white;
        }
      }

      button {
        position: absolute;
        z-index: 100;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
      }

      &--ingredients {
        background-color: variables.$color-ingredients;
      }

      &--appliance {
        background-color: variables.$color-appliance;
      }

      &--ustensils {
        background-color: variables.$color-ustensils;
      }

      &--active {
        height: unset;
        position: relative;
        width: 67rem;

        div:first-of-type {
          position: relative;
        }

        div:last-of-type {
          padding: 2.5rem 2rem 1.5rem;
          position: absolute;
          z-index: 1000;
          background-color: inherit;
          width: 67rem;

          ul {
            height: 100%;
            box-sizing: border-box;
            list-style: none;
            color: variables.$color-white;
            column-count: 3;

            li {
              margin-bottom: 0.5rem;
            }
          }
        }

        button {
          img {
            transform: rotate(180deg);
          }
        }
      }

      &--inactive {
        div:last-of-type {
          display: none;
        }
      }
    }
  }
}

.section-result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result {
  flex-basis: 30%;
  background-color: variables.$color-white-secondary;
  border-radius: variables.$default-radius;
  overflow: hidden;
  margin-bottom: 5rem;

  &__img {
    height: 18rem;
    background-color: variables.$color-grey;
  }

  &__info {
    padding: 2rem;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    flex: 1;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__time {
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;

    img {
      margin-right: 0.7rem;
    }

    width: max-content;
  }

  &__ingredients,
  &__desc {
    flex-basis: 50%;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    height: min-content;
  }

  &__desc {
    font-size: 1.2rem;
    font-family: variables.$secondary-font;
  }
}
