html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
