// Colors
$color-ingredients: #3282f7;
$color-appliance: #68d9a4;
$color-utensils: #ed6454;

$color-grey: #c7bebe;

$color-white-secondary: #e7e7e7;
$color-white: #fff;

// Fonts
$default-font: 'Lato', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Border Radius
$default-radius: 5px;
